.auth_form {
    display: flex;
    gap: 18px;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    border-radius: 6px;
    padding: 24px;
    -webkit-box-shadow: 5px 4px 24px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 4px 24px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 4px 24px 0px rgba(0, 0, 0, 0.2);
    font-size: 18px;
}

.form_elem {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form_input {
    border-radius: 6px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #F5F5F5;
    width: 240px;
    height: 32px;
}

.reglink {
    font-size: 12px;
    color: #0368CD;
}

.errormsg {
    position: relative;
    color: brown;
    font-size: 12px;
    bottom: 0;
}
