.menu {
    display: none;

}

@media (max-width: 840px) {
    .menu {
        display: flex;
        position: sticky;
        bottom: 0;
        background-color: var(--menu-color);
        height: 48px;
        width: 100%;
        z-index: 5;
    }

    .menulimit {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        padding: 24px;
    }
}

.pointermenu {
    opacity: 0.3;
}

.menulimit button {
    background: none;
    border: none;
}

.menu_logo {
    display: flex;
    width: 32px;
    height: 32px;
    background-image: var(--menu-icon);
}

.home_logo {
    display: flex;
    width: 32px;
    height: 32px;
    background-image: var(--home-icon);
}

.search_logo {
    display: flex;
    width: 32px;
    height: 32px;
    background-image: var(--search-icon);
}

.user_logo {
    display: flex;
    background-size: contain;
    width: 30px;
    height: 30px;
    background-image: var(--user-icon);
}

.popup_menu_items {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 24px;
    font-size: 28px;
    padding: 12px;
}

.popup_menu_items a {
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.actve {
    background-color: var(--input-color);
    border-radius: 6px;
}


.gamepad_icon,
.calendar_icon,
.cup_icon,
.feed_icon,
.playlist_icon {
    display: flex;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: cover;
}

.gamepad_icon {
    background-image: var(--gamepad-icon);
}

.calendar_icon {
    background-image: var(--calendar-icon);
}

.cup_icon {
    background-image: var(--cup-icon);
}

.feed_icon {
    background-image: var(--feed-icon);
}

.playlist_icon {
    background-image: var(--playlist-icon);
}