.card_header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 58px;
}

.card_wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: var(--bg-card-color);
    padding: 24px 24px;
    border-radius: var(--border-radius-main);
    min-width: 420px;
}

.icon_wrapper {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.cross_icon {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.exit_button {
    width: 100%;
    display: flex;
    justify-content: right;
    grid-column: 2/3;
}

.brand_header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.logo_wrapper {
    background: linear-gradient(to right,
            #FFAD4A 20%,
            #00affa 30%,
            #7FC7FF 70%,
            #FFAD4A 80%);

    background-size: 500% auto;
    animation: textShine 10s ease-in-out infinite alternate;
    padding: 1px;
    border-radius: var(--border-radius-main);
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
}

.logo_text{
    display: flex;
    font-weight: 900;
    background-color: var(--bg-card-color);
    border-radius: var(--border-radius-main);
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    font-size: 18px;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

@media (max-width: 840px) {
    .main_grid {
        padding: 12px;
    }

}


@media (max-width: 450px) {
    .card_wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
        background-color: var(--bg-card-color);
        padding: 24px 24px;
        border-radius: 0;
        width: 100vw;
        height: 100vh;
        min-width: 0;
    }

    .logo_text{

        font-size: 32px;
    }

}