.follow_button {
    display: flex;
    height: 28px;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    background-color: var( --blue-button-color);
    font-family: '__Inter_a943a7', '__Inter_Fallback_a943a7';
    font-style: normal;
    color: var(--ligth-button-font-color);
    cursor: pointer;
    transition: 140ms all ease-out;
}
.follow_button:hover{
    background-color:var(--blue-button-hover) ;
}

.follow_button_active {
    display: flex;
    height: 28px;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    background-color: var(--red-button-color);
    font-family: '__Inter_a943a7', '__Inter_Fallback_a943a7';
    font-style: normal;
    color: var(--ligth-button-font-color);
    cursor: pointer;
    transition: 140ms all ease-out;

}

.follow_button_active:hover{
    background-color: var(--red-button-hover);
}