.main_wrapper {
    background-color: var(--bg-card-color);
    border-radius: 6px;
    transition: background-color 0.2s linear;
}

.settings_header {
    font-weight: 600;
    font-size: 20px;
    padding: 24px;
}

.main_wrapper hr {
    height: 2px;
    border: 1px solid var(--hr-color);
}

.settings_content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px;

}


.icon_wrapper {
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;

}



.settings_menu_item {
    display: flex;
    min-height: 36px;
    align-items: center;
    gap: 18px;
    padding: 12px;
}

.settings_menu_item:hover{
    background-color: var(--list-item-hover);
    border-radius: 6px;
}

.text_wrapper {
    display: flex;
    flex-direction: column;
}

/* .text_wrapper small{
    font-size: 12px;
} */

.point_header{
    font-size: 18px;
    font-weight: 500;
}


.cards_wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.stat_card {
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg-color);
    padding: 10px;
    border-radius: 6px;
    font-weight: 600;
}

.button_data_wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    justify-content: center;
}

.button_data_wrapper span {
    font-weight: 600;
    font-size: 22px;
}

.stat_card_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--card-bg-color);
    padding: 10px;
    border-radius: 6px;
}

.rocket_logo,
.finish_logo,
.heart_logo,
.bag_logo {
    background-size: 28px 28px;
    width: 28px;
    height: 28px;
}

.rocket_logo {
    background-image: var(--rocket-icon);
}

.finish_logo {
    background-image: var(--finish-flag-icon);
}

.heart_logo {
    background-image: var(--heart-favorite-icon);
}

.bag_logo {
    background-image: var(--bag-icon);
}