.playlists_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.icon_wrapper {
    height: 18px;
    width: 18px;
}

.button_data_wrapper {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1440px) {
    .playlists_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
    }
}

@media (max-width: 450px) {
    .playlists_grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
    }
}