.filters_wrapper {
    display: block;
    position: sticky;
    top: 48px;
    height: calc(100vh - 150px);
    font-weight: 400;
    background-color: var(--bg-card-color);
    border-radius: var(--border-radius-main);
    transition: background-color 0.2s linear;
}


.main_wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
    padding: 12px;
    max-height: calc(100vh - 150px);

}


.list_style {
    display: flex;
    gap: 6px;
}

.block_header {
    font-weight: 600;
}

.block_wrapper {
    width: 100%;
    border: none;
    overflow-y: scroll;
    padding: 4px;
    height: 25%;
}

.block_wrapper::-webkit-scrollbar {
    width: 6px;
    /* Ширина всего элемента навигации */
}

.block_wrapper::-webkit-scrollbar-track {
    background: none;
}

.block_wrapper::-webkit-scrollbar-thumb {
    background-color: var(--stroke-color);
    border-radius: 100px;
}


.choose_section {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: 6px;
}

.item_wrapper {
    font-size: 14px;
}

.card_header {
    display: none;

}

.icon_wrapper {
    width: 32px;
    height: 32px;
}

.cross_icon {
    width: 28px;
    height: 28px;
}

.exit_button {
    width: 100%;
    display: flex;
    justify-content: right;
    grid-column: 2/3;
}

@media (max-width: 1024px) {
    .filters_wrapper {
        display: block;
        height: 100vh;
        width: 100vw;
        border-radius: 0;
    }

    .block_wrapper {
        width: 100%;
        flex-grow: 1;
        overflow-y: scroll;
        gap: 6px;
    }

    .card_header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 58px;
    }

    .main_wrapper{

        max-height: 100vh;

    }


}

@media (max-width: 840px) {
    .list_style input {
        width: 24px;
        height: 24px;
    }

}