.button_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.nav_buttons_wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--bg-card-color);
    padding: 12px 24px 12px 24px;
    border-top-left-radius: var(--border-radius-main);
    border-top-right-radius: var(--border-radius-main);

    margin-bottom: -12px;
    z-index: 2;
    transition: background-color 0.2s linear;
}

.mobile_hr {
    display: none;
}

@media (max-width: 420px) {
    .nav_buttons_wrapper {
        padding: 12px;

    }
}

.motion_button {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    padding: 6px 12px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    gap: 4px;
}


.menu_underline {
    display: flex;


    border: 1px solid var(--font-color);
    width: 100%;
}


.card_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--bg-card-color);
    margin-bottom: 12px;
    padding: 50px 24px;
    border-radius: var(--border-radius-main);
    gap: 6px;
    transform: 200ms all linear;
}

.card_wrapper span {
    font-size: 16px;
    opacity: 0.6;
    font-weight: 600;
}



.cards_wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.stat_card {
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg-color);
    padding: 10px;
    border-radius: var(--border-radius-main);
    font-weight: 600;
}


.button_data_wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    justify-content: center;
}



.user_stats_desk {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    max-width: 100%;
}

.user_data_card_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--bg-card-color);
    border-radius: var(--border-radius-main);
    gap: 12px;
    padding: 12px;
    width: 100%;
    transition: background-color .2s linear;
}

.block_header {
    font-weight: 600;
    -webkit-font-smoothing: auto;
}

.people_wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    max-width: 100%;
}

.people_data {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    background-color: var(--input-color);
    border-radius: 100px;
    transition: background-color .2s linear;
    width: calc(100% - 6px) ;
    aspect-ratio: 1/1;

}

.playlist_data {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    background-color: var(--input-color);
    border-radius: var(--border-radius-main);
    transition: background-color .2s linear;
    width: calc(100% - 6px) ;
    aspect-ratio: 1/1;
}

.last_elem{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    background-color: var(--input-color);
    border-radius: var(--border-radius-main);
    transition: background-color .2s linear;
    width: calc(100% - 6px) ;
    aspect-ratio: 1/1;
    color: var(--link-color);
}

.user_social_data_mobile {
    display: none;
}

@media (max-width: 1024px) {
    .user_stats_desk {
        display: none;
    }

    .user_social_data_mobile {
        display: flex;
        gap: 12px;
    }
}

@media (max-width: 600px) {
    .user_social_data_mobile {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}