

.input {
    width: 100%;
    min-height: 10px;
    pointer-events: all;
    caret-color: var(--font-color);
    z-index: 3;
    padding: 12px;
    padding-bottom: 38px;
    border-radius: var(--border-radius-main);
    background-color: var(--input-color);
    transition: 140ms all ease-out;
    outline: none;
    transition: background-color .2s linear;

}

.input:hover {
    -webkit-box-shadow: 0px 0px 2px 2px rgba(179, 218, 249, 0.6);
    -moz-box-shadow: 0px 0px 2px 2px rgba(179, 218, 249, 0.6);
    box-shadow: 0px 0px 2px 2px rgba(179, 218, 249, 0.6);
    background-color: var(--bg-card-color);
}
.input:focus{
    -webkit-box-shadow: 0px 0px 2px 2px rgba(179, 218, 249, 0.6);
    -moz-box-shadow: 0px 0px 2px 2px rgba(179, 218, 249, 0.6);
    box-shadow: 0px 0px 2px 2px rgba(179, 218, 249, 0.6);
    background-color: var(--bg-card-color);
}

.input a {
    color: var(--link-color);
}

.input:empty::before {
    content: attr(data-placeholder);
    color: grey;
    display: block;
    /* Важное требование для комфортной работы в Firefox */
    pointer-events: none;
    /* Исключаем взаимодействие с подсказкой */
}


.func_button_wrapper {
    display: flex;
    gap: 6px;
}

.item_temlate_span {
    display: flex;
    flex-direction: column;
    padding: 6px;
}

.comment_field_wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    max-width: 100%;
}

.game_item_wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
}

.game_item_wrapper img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    object-fit: cover;
}

.send_button_wrapper {
    display: flex;
    gap: 6px;
    position: absolute;
    bottom: 4px;
    right: 5px;
    z-index: 50;
    height: 28px;
}


.icon_wrapper {
    display: flex;
    width: 28px;
    height: 28px;
    background-color: var(--social-button-color);
    border-radius: 100px;
    transition:  background-color 0.2s linear;
    padding: 4px;
    cursor: pointer;
}