.textarea {
    position: relative;
    line-height: 21px;
    font-size: 14px;
    text-align: left;
    width: 100%;
    font-family: "Inter", sans-serif;
    
  }
  
  .textarea_control {
    resize: none;
    margin: 0;
    padding: 16px;
    padding-bottom: 32px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    font: inherit;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #F5F5F5;
  }
  
  .textarea_control::placeholder {
    color: #b0bec5;
  }
  
  .textarea_control[data-view="fake"] {
    visibility: hidden;
    user-select: none;
    pointer-events: none;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }
  
  .textarea_control[data-view="native"] {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
  }
  