.auth_form {
    display: flex;
    gap: 24px;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 6px;
    padding: 24px;
    width: 100%;
}


.reglink {
    color: var(--link-color);
    cursor: pointer;
}

.form_input {
    border-radius: 6px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #F5F5F5;
    width: 240px;
    height: 32px;
}


.error_block {
    color: var(--alert-color);
    font-size: 16px;
}

.remember_pass_block {
    cursor: pointer;
    font-size: 16px;
    color: var(--link-color);
}

.button_wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    gap: 12px;
}

.field_wrapper {
    display: flex;
    position: relative;
    box-sizing: border-box;
   width: 100%;
}

.char_count_wrapper {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    right: 10px;
    z-index: 5;
}
.icon_wrapper{
    height: 22px;
    width: 22px;
    cursor: pointer;
}

@media (max-width: 450px) {
    .auth_form {
        display: flex;
        gap: 24px;
        align-items: flex-start;
        flex-direction: column;
        border-radius: 6px;
        padding: 12px;
        width: 100%;
    }    
}