
.calendar_wrapper{
    display: flex;
    align-items: center;
    gap: 12px;
}

.calendar {
    width: 200px;
    height: 40px;
    color: var(--font-color);
    background-color: var(--input-color);
    border-radius: 6px;
    border: none;
    padding: 6px;
    font-size: 20px;
    transition: background-color color .2s linear;
}

.icon_wrapper {
    display: flex;
    width: 28px;
    height: 28px;
    background-color: var(--social-button-color);
    border-radius: 100px;
    transition:  background-color 0.2s linear;
    padding: 4px;
}
