.card_wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--bg-card-color);
    margin-bottom: 12px;
    padding: 24px 24px 12px 24px;
    border-radius: var(--border-radius-main);
    gap: 12px;
    width: 100%;
    
    transition: background-color 0.2s linear;
}

.one_card_wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--bg-card-color);
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 24px 24px 12px 24px;
    border-radius: var(--border-radius-main);
    gap: 12px;
    width: 100%;
    transition: background-color 0.2s linear;

}

.post_header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.post_data_wrapper {
    display: flex;
    gap: 6px;
    align-items: center;
}

.post_author_image {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--profile-button);
    transition: background-color 0.2s linear;
    border-radius: 100px;
}

.user_data_wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.service_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
}

.author_name {
    color: var(--link-color);
}

.post_time_wrapper {
    font-size: 12px;
    cursor: pointer;
}

.one_post_time_wrapper {
    font-size: 12px;

}

.markdown_text a {
    color: var(--link-color);
}

.comments_header {
    display: flex;
    font-size: 20px;
    font-weight: 500;
    margin-top: 12px;
}

.repost_wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 0;
    padding-bottom: 24px;
    gap: 12px;
}

.icon_wrapper {
    display: flex;
    height: 18px;
    width: 18px;
    opacity: 0.8;
    cursor: pointer;

}

.cross_icon {
    display: flex;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.icon_wrapper {
    display: flex;
    width: 24px;
    height: 24px;
    cursor: pointer;
}


@media (max-width: 450px) {
    .one_card_wrapper {
        margin: 0;
        margin-top: 60px;
        border-radius: 0;
        height: 100%;
        padding-bottom: 50px;
    }

    .cross_icon {
        display: none;
    }
}

/* ДАЛЬШЕ ИДЁТ ДЕРЕВО */

/* ————————————————————–
  Tree core styles
*/
.tree {

    margin-left: 24px;
    list-style: none;
}


/* ————————————————————–
    Tree rows
  */
.tree li {
    line-height: 1.2;
    position: relative;
    padding: 0 0 1em 1em;

}



.tree>li:last-child {
    padding-bottom: 0;
}

/* ————————————————————–
    Tree labels
  */
.tree_label {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

label.tree_label {
    cursor: pointer;
}





/* ————————————————————–
    Tree branches
  */
.tree li:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -.5em;
    display: block;
    width: 0;
    border-left: 1px solid var(--font-color);
    content: "";
}

.tree_label:after {
    position: absolute;
    top: 0;
    left: -1.5em;
    display: block;
    height: 0.5em;
    width: 1em;
    border-bottom: 1px solid var(--font-color);
    border-left: 1px solid var(--font-color);
    border-radius: 0 0 0 .3em;
    content: '';
}

label.tree_label:after {
    border-bottom: 0;
}

:checked~label.tree_label:after {
    border-radius: 0 .3em 0 0;
    border-top: 1px solid var(--font-color);
    border-right: 1px solid var(--font-color);
    border-bottom: 0;
    border-left: 0;
    bottom: 0;
    top: 0.5em;
    height: auto;
}

.tree li:last-child:before {
    height: 1em;
    bottom: auto;
}

.tree>li:last-child:before {
    display: none;
}

.tree_custom {
    display: block;
    background: #eee;
    padding: 1em;
    border-radius: 0.3em;
}