.repost_card_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    position: relative;
    background-color: var(--bg-card-color);
    padding: 24px 24px 12px 24px;
    border-radius: var(--border-radius-main);
    gap: 12px;
    width: 100%;
    transition:background-color 0.2s linear;

}


.post_header {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

.post_data_wrapper {
    display: flex;
    gap: 6px;
    align-items: center;
}

.post_author_image {
    display: flex;
    background-color: antiquewhite;
    border-radius: 100px;
    align-items: flex-start;
}

.user_data_wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.service_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
}

.author_name {
    color: var(--link-color);
}

.post_time_wrapper {
    font-size: 12px;
    cursor: pointer;
}

.markdown_text a {
    color: var(--link-color);
}

.comments_header{
    display: flex;
    font-size: 20px;
    font-weight: 500;
    margin-top: 12px;
}
.repost_wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 0;
    padding-bottom: 24px;
    gap: 12px;
}

.cross_icon{
    display: flex;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

@media (max-width: 450px) {
    .repost_card_wrapper{
        border-radius: 0;
    }
}
