.modal_hide {
    display: none;
}


.modal_content_active {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: var(--bg-card-color);
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.52);
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.52);
    border-radius: var(--border-radius-main);
    padding: 6px 6px 8px;
    top: 48px;
    font-size: 18px;
    gap: 2px;
    z-index: 12;
    max-width: 150px;
    max-height: 150px;
    overflow: auto;

}


.modal_content_active a {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 12px;
    border-radius: 6px;
}

.modal_content_active span {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
}