:root {
  --font-color: #1E1D1F;
  --background-color: #F1F1F1;

  --menu-icon: url("../assets/icons/light/menu.svg");
  --home-icon: url("../assets/icons/light/home.svg");
  --search-icon: url("../assets/icons/light/search.svg");
  --user-icon: url("../assets/icons/light/user.svg");
  --main-logo: url("../assets/icons/light/logo.svg");

  --gamepad-icon: url("../assets/icons/light/gamepad.svg");
  --calendar-icon: url("../assets/icons/light/calendar.svg");
  --cup-icon: url("../assets/icons/light/cup.svg");
  --feed-icon: url("../assets/icons/light/feed.svg");
  --playlist-icon: url("../assets/icons/light/playlist.svg");
  --settings-icon: url("../assets/icons/light/settings.svg");
  --leave-icon: url("../assets/icons/light/leave.svg");
  --profile-icon: url("../assets/icons/light/profile.svg");
  --arrow-icon: url("../assets/icons/light/arrow.svg");
  --sort-icon: url("../assets/icons/light/sort.svg");
  --filter-icon: url("../assets/icons/light/filter.svg");
  --x-icon: url("../assets/icons/light/x.svg");

  --rocket-icon: url('../assets//icons/general/rocket.svg');
  --finish-flag-icon: url('../assets//icons/general/finish.svg');
  --heart-favorite-icon: url('../assets//icons/general/heart.svg');
  --bag-icon: url('../assets//icons/general/bag.svg');

  --sidebar-hover: #fff;

  --header-color: #FFAD4A;
  --menu-color: #fff;

  --service-button-color: #0368CD;
  --selection-menu-color: #D9D9D9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #E8E8ED;
    --background-color: #121212;

    --menu-icon: url("../assets/icons/dark/menu.svg");
    --home-icon: url("../assets/icons/dark/home.svg");
    --search-icon: url("../assets/icons/dark/search.svg");
    --user-icon: url("../assets/icons/dark/user.svg");
    --main-logo: url("../assets/icons/dark/logo.svg");


    --gamepad-icon: url("../assets/icons/dark/gamepad.svg");
    --calendar-icon: url("../assets/icons/dark/calendar.svg");
    --cup-icon: url("../assets/icons/dark/cup.svg");
    --feed-icon: url("../assets/icons/dark/feed.svg");
    --playlist-icon: url("../assets/icons/dark/playlist.svg");
    --settings-icon: url("../assets/icons/dark/settings.svg");
    --leave-icon: url("../assets/icons/dark/leave.svg");
    --profile-icon: url("../assets/icons/dark/profile.svg");
    --arrow-icon: url("../assets/icons/dark/arrow.svg");
    --sort-icon: url("../assets/icons/dark/sort.svg");
    --filter-icon: url("../assets/icons/dark/filter.svg");
    --x-icon: url("../assets/icons/dark/x.svg");

    --sidebar-hover: #333333;

    --header-color: #333333;

    --menu-color: #333333;

    --service-button-color: #4c4c4c;

    --selection-menu-color: #4c4c4c;

  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}


.active {
  background-color: var(--sidebar-hover);
  border-radius: 6px;
}

body {
  display: block;
  color: var(--font-color);
  background-color: var(--background-color);
  overflow-wrap: break-word;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

#app {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding-top: 0px;
  padding-bottom: 0px;
  word-break: break-word;
  bottom: var(--safe-tabbar-height);
  vertical-align: baseline;
  box-sizing: inherit;
}

.layout {
  display: grid;
  grid-template-columns: 216px 976px;
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  position: relative;
  gap: 48px;
  height: 100%;
  box-sizing: inherit;
}

.nested_layout {
  display: grid;
  max-width: 976px;
  grid-template-columns: 712px 216px;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  grid-auto-rows: min-content;
  position: relative;
  column-gap: 48px;
}

.auth_layout {
  display: flex;
  max-width: 100vw;
  min-height: calc(100vh - 48px);
  justify-content: center;
  align-items: center;
}

.content_wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 41px;
  padding-bottom: 24px;
}

.right_side_wrapper {
  display: block;
  position: sticky;
  top: 48px;
  height: calc(100vh - 48px);
  padding: 41px 0 16px 0;
}

@media (max-width: 1280px) {
  .layout {
    column-gap: 24px;
    max-width: 840px;
    grid-template-columns: 216px 600px;

  }

  .nested_layout {
    align-items: flex-start;
    grid-auto-rows: min-content;
    grid-template-columns: 1fr;
    max-width: 600px;
    margin: 0;
  }

  .right_side_wrapper {
    display: block;
    position: static;
    grid-row: 1/1;
    padding-top: 41px;
    padding-bottom: 0;
    height: 100%;
  }
  .content_wrapper {
    display: flex;
    padding-top: 0;
    padding-bottom: 24px;
  }
}

@media (max-width: 840px) {
  .layout {
    grid-template-columns: 1fr;

  }

  .nested_layout {
    grid-template-columns: 1fr;
    max-width: 100%;
    padding: 0 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .right_side_wrapper {
    display: block;
    position: static;
    grid-row: 1/1;
    height: 100%;
    padding-top: 41px;
  }
}