@font-face {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: url("../fonts/Montserrat-Regular.ttf") format("ttf"),
}


:root {
  --link-color: #0066CC;
  --blue-button-color: #0071E3;
  --blue-button-hover: #0077ED;
  --red-button-color: #FF0A15;
  --red-button-hover: #FF4049;
  --ligth-button-font-color: #E5E5E5;
  --complete-button-color: #30B63D;

  --complete-button-hover: #97E88A;

  --start-button-color: #FFF763;
  --start-button-hover: #FFFAA3;

  --favorite-button-color: #FF9C93;
  --favorite-button-hover: #FFC0BA;
  --wishlist-button-color: #34A1C7;
  --wishlist-button-hover: #58B0CF;
  --slider-bg-color: #EFEFEF;
  --sun-color: #EBB50D;

  
}


html[data-theme='light'] {
  /* Начал цвета заново */
  --font-color: #1E1D1F;
  --bg-global-color: #F1F1F1;

  --side-bar-hover: #FFFFFF;
  --list-item-hover: #F6F6F6;

  --input-color: #EFEFEF;
  --input-hover: #FFFFFF;
  --post-input-color: #FFFFFF;

  --header-color: #7FC7FF;
  --search-color: #B3DAF9;
  --bg-card-color: #FFFFFF;
  --profile-button: #F5F5F5;
  --icon-color: #1E1D1F;
  --social-button-color: #E6E6E6;
  --service-button-color: #DADADA;
  --service-button-hover: #E6E6E6;
  --hr-color: rgba(30, 29, 31, .6);
  --main-logo-color: #000;
  --mobile-menu-color: #FFFFFF;


  --rocket-icon: url('../assets//icons/general/rocket.svg');
  --finish-flag-icon: url('../assets//icons/general/finish.svg');
  --heart-favorite-icon: url('../assets//icons/general/heart.svg');
  --bag-icon: url('../assets//icons/general/bag.svg');


  --settings-item-hover: #F5F5F5;

  --popup-bg-color: rgba(255, 255, 255, 0.8);
  --search-popup-bg-color: rgba(255, 255, 255, 0.6);


  --stroke-color: #1e1d1f66;
  --box-shadow: 5px 4px 24px 0px rgba(0, 0, 0, 0.2);
  --box-shadow-service: 0px 3px 7px -1px rgba(0, 0, 0, 0.2);




}

html[data-theme='dark'] {


  /* Начал цвета заново */
  --font-color: #E5E5E5;
  --bg-global-color: #121212;

  --side-bar-hover: #333333;
  --list-item-hover: #333333;

  --input-color: #333333;
  --input-hover: #000000;
  --post-input-color: #1F1F1F;
  --header-color: #232628;
  --search-color: #333333;
  --bg-card-color: #1F1F1F;
  --profile-button: #333333;
  --icon-color: #E5E5E5;
  --social-button-color: #2B2B2B;
  --service-button-color: #333333;
  --service-button-hover: #2B2B2B;
  --hr-color: rgba(232, 232, 237, .6);

  --main-logo-color: #FFAD4A;
  --mobile-menu-color: #1F1F1F;

 
  --rocket-icon: url('../assets//icons/general/rocket.svg');
  --finish-flag-icon: url('../assets//icons/general/finish.svg');
  --heart-favorite-icon: url('../assets//icons/general/heart.svg');
  --bag-icon: url('../assets//icons/general/bag.svg');

  --popup-bg-color: rgba(51, 51, 51, 0.8);
  --search-popup-bg-color: rgba(51, 51, 51, 0.6);




  --stroke-color: rgba(232, 232, 237, 0.4);
  --box-shadow: 5px 4px 24px 0px rgba(232, 232, 237, 0.2);
  --box-shadow-service: 0px 3px 7px -1px rgba(232, 232, 237, 0.2);


}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat Regular", sans-serif;

}


.active {
  background-color: var(--side-bar-hover);
  border-radius: 6px;
}

body {
  display: block;
  overflow-wrap: break-word;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  color: var(--font-color);
  background-color: var(--bg-global-color);
  transition: 0.2s linear;
}

.modal_open {
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--popup-bg-color);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 999;
  opacity: 0;
  transition: 200ms all;
}

.modal.activemodal {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}


.modal_content {

  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: scale(1.2);
  transition: 400ms all;
  gap: 12px;
  width: 100%;
}

.modal_content.activemodal {
  transform: scale(1);
}





@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

#app {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding-top: 0px;
  padding-bottom: 0px;
  word-break: break-word;
  bottom: var(--safe-tabbar-height);
  vertical-align: baseline;
  box-sizing: inherit;
}

.layout {
  display: grid;
  grid-template-columns: 216px 976px;
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  position: relative;
  gap: 48px;
  height: 100%;
  box-sizing: inherit;
  margin-top: 58px;
}

.nested_layout {
  display: grid;
  max-width: 976px;
  grid-template-columns: 712px 216px;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  grid-auto-rows: min-content;
  position: relative;
  column-gap: 48px;
}

.auth_layout {
  display: flex;
  max-width: 100vw;
  min-height: calc(100vh - 48px);
  justify-content: center;
  align-items: center;
}

.content_wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 41px;
  padding-bottom: 24px;
}

.right_side_wrapper {
  display: block;
  position: sticky;
  top: 48px;
  height: calc(100vh - 48px);
  padding: 41px 0 16px 0;
}

@media (max-width: 1280px) {
  .layout {
    column-gap: 24px;
    max-width: 840px;
    grid-template-columns: 216px 600px;

  }

  .nested_layout {
    align-items: flex-start;
    grid-auto-rows: min-content;
    grid-template-columns: 1fr;
    max-width: 600px;
    margin: 0;
    row-gap: 12px;
  }

  .right_side_wrapper {
    display: block;
    position: static;
    grid-row: 1/1;
    padding-top: 41px;
    padding-bottom: 0;
    height: 100%;
  }

  .content_wrapper {
    display: flex;
    padding-top: 0;
    padding-bottom: 24px;
  }
}

@media (max-width: 840px) {
  .layout {
    grid-template-columns: 1fr;

  }

  .nested_layout {
    grid-template-columns: 1fr;
    max-width: 100%;
    padding: 0 12px;
    margin-left: auto;
    margin-right: auto;
  }

  .right_side_wrapper {
    display: block;
    position: static;
    grid-row: 1/1;
    height: 100%;
    padding-top: 41px;
  }
}