.like-button {
    width: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heart-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    stroke: var(--font-color);
    stroke-width: 2.5px;
    fill: none;
}

.heart-icon.liked{
    stroke: none;
    fill: red;
}



.heart-icon.liked {
    animation: like 0.3s steps(60) forwards;
    -webkit-animation: like 0.3s steps(60) forwards;
}


/* heart animation */
@keyframes like {
    0% {
        transform: scale(1);
        fill: none;
        stroke: #1E1D1F;
    }

    30% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1.1);
        fill: red;
        stroke: none;

    }
}

.general-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    stroke: var(--icon-color);
    stroke-width: 2.5px;
    fill: none;
}


.general-icon-fill {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    stroke: none;
    stroke-width: 2.5px;
    fill: var(--icon-color);;
}