#rate-numbers {
  font-size: 1.0em;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.2em 0.2em;
}

#rate-numbers:hover {
  transform: scale(1.1);
  transition: all 100ms ease;
}

.red-rate {
  color: #ff4800;
}

.gray-rate {
  color: gray;
}

.green-rate {
  color: green;
}


.bottom_popup {
  width: 100vw;
  height: 60vh;
  position: fixed;
  left: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  background-color: var(--mobile-menu-color);
  z-index: 999;
  transition: 500ms all;
  bottom: 0;
  transform: translateY(60vh);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .15), 0 0 0 1px rgba(0, 0, 0, .1);
  overflow-y: scroll;
  padding: 20px;
  padding-top: 60px;
  gap: 24px;
}

.bottom_popup a{
  display: flex;
  gap: 12px;
  font-size: 28px;
  align-items: center;

}

.bottom_popup.menu_active {
  transform: translateY(0);
  pointer-events: all;
}

.bottom_popup_content {
  z-index: 999;
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  transform: translateY(100vh);
  transition: 500ms all;
}

.bottom_popup_content.active_content {

  transform: translateY(0);
  pointer-events: all;
}

@media (min-width: 1240px) {
  .bottom_popup_content {
    display: none;
  }
}


