.cards_layout_three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 18px;
    row-gap: 18px;
    align-items: flex-start;
    grid-auto-rows: min-content;
    width: 100%;
}

.cards_layout_two {
    display: none;
}

.cards_layout_one {
    display: none;
}

.filters_layout {
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 216px;
    height: calc(100vh - 168px);
    position: sticky;
    top: 89px;
}

.column_layout {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.help_line {
    grid-column: 1/4;

}

.filters_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 18px;
}



.popup_wrapper {
    top: -40px;
    position: relative;
}

.popup_elem {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;

}

.sort_wrapper {
    display: flexbox;
    align-items: flex-start;
}

.sort_button_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.sort_button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
    align-items: center;
}

.filter_button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.icon_wrapper {
    height: 22px;
    width: 22px;
    background-repeat: no-repeat;
    background-size: cover;
}

.show_more_button {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    grid-column: 1/4;
}

.exit_button_wrapper {
    display: flex;
    width: 100%;
    justify-content: right;
}

.exit_button {
    background-image: var(--x-icon);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}

.right_side_flex {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.right_side_flex_mobile {
    display: none;
    flex-direction: column;
    gap: 12px;
    font-weight: 500;
}

.filter_button_wrapper_desk {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 500;
}

.sort_wrapper_mobile {
    display: none;
}

.finded_games {
    font-weight: 500;
}

@media (max-width: 1280px) {

    .filter_button {
        cursor: pointer;
    }

    .right_side_flex {
        display: none;
        flex-direction: column;
        gap: 12px;
    }

    .right_side_flex_mobile {
        display: flex;
    }

    .finded_games {
        display: none;
    }

    .sort_wrapper_mobile {
        font-weight: 500;
        display: block;
        font-size: 20px;
    }

    .sort_wrapper_mobile .sort_button_wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .filter_icon,
    .sort_icon {
        height: 26px;
        width: 26px;
    }

    .sort_wrapper {
        display: none;
    }
}


@media (max-width: 840px) {
    .cards_layout_three {
        display: none;
    }

    .cards_layout_two {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 18px;
        row-gap: 18px;
        align-items: flex-start;
        grid-auto-rows: min-content;
        width: 100%;
    }


}

@media (max-width: 460px) {
    .cards_layout_three {
        display: none;
    }

    .cards_layout_two {
        display: none;
    }

    .cards_layout_one {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 18px;
        row-gap: 18px;
        align-items: flex-start;
        grid-auto-rows: min-content;
        width: 100%;
    }
}