.main_wrapper {
    background-color: var(--bg-card-color);
    border-radius: var(--border-radius-main);
    transition: background-color 0.2s linear;
}

.settings_header {
    font-weight: 600;
    font-size: 20px;
    padding: 24px;
    display: flex;

}

.settings_header a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20;
}


.main_wrapper hr {
    height: 2px;
    border: 1px solid var(--hr-color);
    /* border: none;
    background-color: var(--hr-color);
    height: 1px;
    transform: scaleY(0.5); */
}

.settings_content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px;

}


.icon_wrapper {
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
}


.mailing_checkbox {
    width: 24px;
    height: 24px;
    background-color: var(--input-color);
    background: var(--input-color);
    color: var(--input-color);
    border-radius: var(--border-radius-main);
}

.item_wrapper {
    display: flex ;
    align-items: center;
    gap: 12px;
}

.cards_wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}