.service_button{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: fit-content;
    width: 100%;
    border:  none;
    border-radius: var(--border-radius-main);
    padding: 6px;
    cursor: pointer;
    background-color: var(--service-button-color);
    color: var(--font-color);
    transition: all .2s linear;
}

.service_button:hover{
    background-color: var(--service-button-hover);
}