.main_wrapper {
    background-color: var(--bg-card-color);
    border-radius: var(--border-radius-main);
    transition: background-color 0.2s linear;

}

.settings_header {
    font-weight: 600;
    font-size: 20px;
    padding: 24px;
    display: flex;

}

.settings_header a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20;
}


.main_wrapper hr {
    height: 2px;
    border: 1px solid var(--hr-color);
}

.settings_content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 24px;

}


.icon_wrapper {
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.x_icon {
    width: 18px;
    height: 18px;
    cursor: pointer;

}

.comment_field_wrapper {
    display: flex;
    position: relative;
    box-sizing: border-box;
    max-width: 100%;
}


.change_email_form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
}

.item_wrapper_header {
    font-size: 20px;
    font-weight: 600;
}

.item_wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
}

.item_close {
    display: none;
}

.field_wrapper {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}

.date_and_cross {
    display: flex;
    gap: 12px;
    align-items: center;
}

.item_open {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.change_link_color {
    color: var(--link-color);
    cursor: pointer;
}


.cards_wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
