.page_main{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form_wrapper{
    min-width: 280px;
    max-width: 400px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: var(--bg-card-color);
    transition: background-color .2s linear;
    border-radius: 6px;
}

.show_pass_wrapper{
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    gap: 6px;
}

.icon_wrapper{
    width: 16px;
    height: 16px;
    opacity: .8;
}

.danger{
    color: var(--red-button-color);
}

.buttons_wrapper {
    display: flex;
    gap: 6px;
    width: 100%;
    justify-content: right;
    width: 280px;
}