.main_wrapper {
    background-color: var(--card-bg-color);
    border-radius: 6px;
}

.settings_header {
    font-weight: 600;
    font-size: 20px;
    padding: 24px;
    display: flex;

}

.settings_header a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20;
}


.main_wrapper hr {
    height: 2px;
    border: 1px solid var(--hr-color);
}

.settings_content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;

}

.user_icon,
.lock_icon,
.mailing_icon,
.theme_icon,
.arrow_back {
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;

}

.arrow_back {
    background-image: var(--arrow-back-icon);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.comment_field_wrapper {
    display: flex;
    position: relative;
    box-sizing: border-box;
    max-width: 100%;
}

.send_button_wrapper {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 5;
}