.sidebar_left {
    display: block;
    position: sticky;
    top: 58px;
    height: calc(100vh - 58px);
    padding: 41px 0 16px 0;
    font-weight: 400;
}

.sidebar {
    max-width: 216px;
    height: 100%;
    justify-content: space-between;
    display: grid;
    grid-template-rows: 1fr auto;
}

.sidebar_top {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    gap: 12px;
}

.sidebar_top a {
    padding: 10px;
    display: flex;
    gap: 12px;
}

.sidebar_top a:hover {
    background-color: var(--side-bar-hover);
    border-radius: var(--border-radius-main);
    transition: background-color 0.2s linear;
}

.sidebar_bottom {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0 20px
}

.sidebar_bottom a:hover {
    opacity: 0.6;
}

.gamepad_icon,
.calendar_icon,
.cup_icon,
.feed_icon,
.playlist_icon {
    display: flex;
    width: 24px;
    height: 24px;
}



@media (max-width: 1024px) {
    .sidebar_left {
        display: none;
    }

}