.modal_hide{
    display: none;
}


.modal_content_active {
    display: flex;
    flex-direction: column;  
    background-color: var(--bg-card-color);  
    -webkit-box-shadow: 5px 4px 24px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 4px 24px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 4px 24px 0px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 12px 12px 8px;
    position: absolute;
    top: 48px;
    font-size: 18px;
    gap: 10px;
    z-index: 12;
}


.modal_content_active a {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 12px;
    border-radius: 6px;
}

.modal_content_active a:hover {
    background-color: var(--list-item-hover);
    border-radius: 6px;

}

.modal_content_active div:hover {
    background-color: var(--list-item-hover);
}

