.repost_text_filed {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--card-bg-color);
    gap: 12px;
    align-items: flex-start;

}
.input {
    width: 100%;
    min-height: 10px;
    pointer-events: all;
    caret-color: var(--font-color);
    z-index: 3;
    padding: 12px;
    padding-right: 30px;
    border-radius: var(--border-radius-main);
    background-color: var(--post-input-color);
    transition: 140ms all ease-out;
}

.input:hover {
    -webkit-box-shadow: 0px 0px 2px 2px rgba(179, 218, 249, 0.6);
    -moz-box-shadow: 0px 0px 2px 2px rgba(179, 218, 249, 0.6);
    box-shadow: 0px 0px 2px 2px rgba(179, 218, 249, 0.6);
    background-color: var(--bg-card-color);
}

.input:focus {
    -webkit-box-shadow: 0px 0px 2px 2px rgba(179, 218, 249, 0.6);
    -moz-box-shadow: 0px 0px 2px 2px rgba(179, 218, 249, 0.6);
    box-shadow: 0px 0px 2px 2px rgba(179, 218, 249, 0.6);
    background-color: var(--bg-card-color);
}

.input a {
    color: var(--link-color);
}

.input:empty::before {
    content: attr(data-placeholder);
    color: grey;
    display: block;
    /* Важное требование для комфортной работы в Firefox */
    pointer-events: none;
    /* Исключаем взаимодействие с подсказкой */
}

.border_line {
    width: 100%;
    background-color: var(--hr-color);
    height: 1px;
    transform: scaleY(0.8);
}

.button_wrapper {
    display: flex;
    justify-content: right;
    width: 100%;

}

.item_temlate_span {
    display: flex;
    flex-direction: column;
    padding: 6px;
}


.game_item_wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
}

.game_item_wrapper img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    object-fit: cover;
}


.mention textarea {
    background-color: var(--card-bg-color);
    border: none;
    font-weight: 400;
    font-family: 'Montserrat';
    height: auto;
}

.mention textarea:focus {
    outline: none;
}