.service_button{
    display: flex;
    width: 28px;
    height: 28px;
    border:  none;
    border-radius: var(--border-radius-main);
    padding: 6px;
    cursor: pointer;
    background-color: var(--service-button-color);
    transition: all .2s linear;

}

.service_button:hover{
    background-color: var(--service-button-hover);
}